<h1>Listing Posts</h1>

<% @posts.each do |post| %>
  <div class="row">
    <div class="span12">
      <h2><%= link_to post.title, post_path(post) %> <small>(<%= post.created_at.strftime('%A %B %e, %Y') %>)</small></h2>
      <%= link_to post_path(post) do %>
        <%= image_tag post.post_image_url(:front_page_hero), :class => 'img-thumbnail' %>
      <% end %>
    <%= content_tag :p, preview(post) %>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="row">
      <div class="span12">
        <%= link_to fa_icon('edit', text: 'Edit'), edit_post_path(post), :class => 'btn btn-warning' %>
        <%= link_to fa_icon('trash', text: 'Delete'), post, method: :delete, data: { confirm: 'Are you sure you would like to delete this blog post?' }, :class => 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
<% end %>
