<%= title(@post.title) %>
<div class="row">
	<div class="span12">
		<h2><%= @post.title %> <small>(<%= @post.created_at.strftime('%A %B %e, %Y') %>)</small></h2>
	</div>
</div>
<div class="row">
  <div class="span12">
    <figure class="span7">
      <%= image_tag @post.post_image, :class => "img-thumbnail" %>
      <% if @post.caption? %>
        <figcaption class="center"><%= @post.caption %></figcaption>
      <% end %>
    </figure>
	<%= raw @post.body %>
	</div>
</div>

<% if user_signed_in? %>
	<%= link_to fa_icon('edit', text: 'Edit'), edit_post_path(@post), :class => 'btn btn-warning' %>
<% end %>
<%= link_to fa_icon('arrow-left', text: 'Back'), posts_path, :class => 'btn btn-primary' %>
