<header>
  <div class="container">
    <div class="row hero">
      <div class="span12 center">
        <h1><%= link_to t('website'), root_path %></h1>
      </div>
    </div>
    <div class="row">
      <div class="span12 center">
        <nav>
          <ul>
            <li><%= link_to fa_icon('hand-peace-o', text: 'About'), about_path  %></li>
            <li><%= link_to fa_icon('globe', text: "London"), '#' %></li>
            <li><%= link_to 'Section3', '#' %></li>
            <li><%= link_to fa_icon('paper-plane', text: 'Contact'), '#' %></li>
            <% if user_signed_in? %>
            <li><%= link_to fa_icon('pencil', text: 'New Post'), new_post_path %></li>
            <li><%= link_to fa_icon('sign-out', text: 'Logout'), destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
