<header>
  <div class="container">
    <div class="row hero">
      <div class="span12 center">
        <h1><%= link_to t('website'), root_path %></h1>
      </div>
    </div>
    <div class="row">
      <div class="span12 center">
        <nav>
          <ul>
            <li><%= link_to 'Section1', '#'  %></li>
            <li><%= link_to 'Section2', '#' %></li>
            <li><%= link_to 'Section3', '#' %></li>
            <li><%= link_to 'Contact', '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
