<header>
  <div class="container">
    <div class="row">
      <div class="span12 center">
        <%= content_tag :h1, t('website') %>
      </div>
    </div>
    <div class="row">
      <div class="span12 center">
        <nav>
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Section1', '#' %></li>
            <li><%= link_to 'Section1', '#' %></li>
            <li><%= link_to 'Section1', '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>